In [99]:
import pandas as pd

def get_dividends(symbol: str):
    prices = pd.read_csv(f'data/{symbol}.csv')
    prices['Close_ratio'] = prices['Close'] / prices['Close'].shift(1)
    prices['Adj_close_ratio'] = prices['Adj Close'] / prices['Adj Close'].shift(1)
    prices['Dividend'] = (prices['Adj_close_ratio'] - prices['Close_ratio']) * prices['Close']
    return prices[prices['Dividend'] >= 0.01][['Date', 'Dividend']]

In [100]:
get_dividends('IBM')

           Date  Dividend
26   2018-02-08  1.394023
88   2018-05-09  1.578771
152  2018-08-09  1.541500
216  2018-11-08  1.553030

In [101]:
get_dividends('MSFT')

           Date  Dividend
30   2018-02-14  0.431227
93   2018-05-16  0.420348
156  2018-08-15  0.407112
220  2018-11-14  0.445132

In [102]:
get_dividends('GOOG')

Empty DataFrame
Columns: [Date, Dividend]
Index: []

In [103]:
get_dividends('AAPL')

           Date  Dividend
27   2018-02-09  0.160720
90   2018-05-11  0.180419
153  2018-08-10  0.180782
216  2018-11-08  0.180601

In [104]:
get_dividends('AMZN')

Empty DataFrame
Columns: [Date, Dividend]
Index: []

In [105]:
get_dividends('FB')

Empty DataFrame
Columns: [Date, Dividend]
Index: []